.rowfooter{   
    text-align:center; 
    background-color:#BAD6E6;
    color:white;
    font-size:20px;
}
.headshot{
    width: 10%;
   
}
.rowmid{
    display:flex;
    justify-content: space-around;
    color:#BAD6E6;
    background-color:white;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}
.rowfooter{
    display: flex;
    justify-content: space-around;
    
}
body{
    text-align:center;   
}